<ng-container *ngIf="(repo$ | async) as repo">
  <section class="detail">
    <span class="back oi oi-chevron-left" (click)="back()"></span>
    <div class="wrapper">
      <h2>{{repo.title}}</h2>
      <p class="">{{repo.description}}</p>
      <div class="stats">
        <span><span class="oi oi-star"></span> {{repo.stars}}</span>
        <span class="badge" [style.background]="repo.languageColor">{{repo.language}}</span>
      </div>
      <button type="button" class="btn btn-primary" *ngIf="!repo.saved" (click)="save(repo.index)">Save Repository</button>
      <button type="button" class="btn btn-primary" *ngIf="repo.saved" (click)="remove(repo.index)">Remove Repository</button>
    </div>
  </section>
  <section class="built-by">
    <p class="title">Built by</p>
    <div class="person" *ngFor="let person of repo.builtBy">
      <img [src]="person.avatar" alt="username">
      <p class="username">{{person.username}}</p>
    </div>
  </section>
</ng-container>
