<div class="card">
  <div class="card-body">
    <header>
      <h5 class="card-title">{{title}}</h5>
      <span class="stars"><span class="oi oi-star"></span> {{stars}}</span>
    </header>
    <p class="card-text text-muted">{{description}}</p>
    <footer>
      <span class="badge" [style.background]="languageColor">{{language}}</span>
      <button type="button" class="btn btn-link" *ngIf="removable" (click)="remove.next();$event.stopPropagation()">Remove</button>
    </footer>
  </div>
</div>
